@inherits MultipleChoiceDisplayBase
<div class="text-center border p-3 rounded">
    <h3>@Problem.Description</h3>
    <div class="d-inline-block text-left">
        @foreach(var choice in Problem.Choices.Select((value, index) => new { index, value })) {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="multipleChoice" id="@choice.index" value="@choice.value.Description" @onchange="OnAnswerSelected" />
                <label class="form-check-label" for="@choice.index">
                    @choice.value.Description
                </label>
            </div>
        }
    </div>
</div>
