@using ClassHub.Client.Models
@using ClassHub.Client.Shared
@using ClassHub.Shared
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<style>
    .board-row:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .board-title:hover {
        color: #007bff;
        text-decoration: underline;
    }

    table {
        font-size: calc(1vw);
    }

    th, td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .board-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75px; /* 원하는 너비로 설정하세요 */
    }

    .mobile-date {
        display: none;
    }

    @@media (max-width: 640.98px) {
        .desktop-date, .view-count{
            display: none;
        }

        .mobile-date {
            display: inline;
        }
    }
</style>

<h3>@Title</h3>
<br />

@if (Title == "강의자료")
{
    <WeekPicker weekValue="@selectedWeek" ValueChanged="OnWeekChanged" allowMultipleSelection=true />
    <br />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%;" @onclick="@(() => SortById())">번호 <i class=@((sortByIDAscending) ? "oi oi-sort-ascending" : "oi oi-sort-descending") /></th>
            @if (Title == "강의자료")
            {
                <th style="width: 10%;">주차</th>
            }
            <th style="width: 50%;">제목</th>
            <th style="width: 10%;">작성자</th>
            <th style="width: 10%;">게시일</th>
            <th class="view-count" style="width: 10%;">조회</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var content in pagedContents)
        {
            <tr class="board-row" @onclick="@(() => ShowContents(content))" style="cursor:pointer;">
                <td style="text-indent : 7px;">@(Contents.Count - Contents.IndexOf(content))</td>
                @if (Title == "강의자료")
                {
                    var lectureMaterial = content as LectureMaterialContent;
                    <td style="text-indent : 7px;">@lectureMaterial.week</td>
                }
                <td class="board-title">@content.title</td>
                <td>@content.author</td>
                <td class="publish-date">
                    <span class="mobile-date">@content.publish_date.ToString("MM.dd")</span>
                    <span class="desktop-date">@content.publish_date.ToString("yyyy.MM.dd")</span>
                </td>
                <td class="view-count" style="text-indent : 7px;">@content.view_count</td>
            </tr>
        }
    </tbody>
</table>

<AuthorizeView Roles="professor">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-end" @onclick="Submit">등록</button>
        </div>
    </div>
</AuthorizeView>

<div class="d-flex justify-content-center">
    <Pagination currentPage="currentPage" totalPages="totalPages" onPageChanged="OnPageChanged" @ref="pagination"></Pagination>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public List<BoardContent> Contents { get; set; }

    public List<int> selectedWeek = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 };

    private List<BoardContent> filteredContents = new List<BoardContent>();
    private List<BoardContent> pagedContents = new List<BoardContent>();

    private Pagination pagination; // Pagination 컴포넌트의 참조

    //정렬을 위한 변수
    private bool sortByIDAscending = false;

    //페이지네이션을 위한 변수
    public int RoomId { get; set; }
    private int currentPage = 1;
    private int pageSize = 10; // 원하는 페이지당 표시할 항목 수를 설정합니다.
    private int totalPages = 0;

    protected override async void OnInitialized()
    {
        Contents = Contents.OrderByDescending(a => a.content_id).ToList(); // ID 기준 내림차순

        foreach (var c in Contents)
        {
            filteredContents.Add(c);
        }

        InitContentsList();
    }

    private async void InitContentsList()
    {
        Contents = Contents.OrderByDescending(a => a.content_id).ToList(); // ID 기준 내림차순

        CalculateTotalPages();
        await LoadPageNumber();
        LoadPagedData();
        await pagination.GoToPage(currentPage);
        StateHasChanged();
    }

    private void ShowContents(BoardContent bc)
    {
        NavigationManager.NavigateTo(NavigationManager.Uri + $"/{bc.content_id}");
    }

    // Pagination.razor에서 currentPage가 변경되면 실행
    private async Task OnPageChanged(int newPage)
    {
        currentPage = newPage;
        await SavePaginationState();
        LoadPagedData();
    }

    /// <summary>
    /// 전체 페이지 수 계산
    /// </summary>
    private void CalculateTotalPages()
    {
        totalPages = (int)Math.Ceiling((double)filteredContents.Count / pageSize);
    }

    /// <summary>
    /// 현재 페이지의 공지사항 리스트 로딩
    /// </summary>
    private void LoadPagedData()
    {
        pagedContents = filteredContents.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
    }

    /// <summary>
    /// 세션 스토리지에 현재 페이지 번호를 저장
    /// </summary>
    private async Task SavePaginationState()
    {
        await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "currentPage", currentPage);
    }

    /// <summary>
    /// 세션 스토리지에 저장된 현재 페이지 번호를 로딩
    /// </summary>
    private async Task LoadPageNumber()
    {
        var storedPage = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "currentPage");
        if (!string.IsNullOrEmpty(storedPage)) currentPage = int.Parse(storedPage);
    }

    private async Task OnWeekChanged(List<int> week)
    {
        selectedWeek = week;
        filteredContents = new List<BoardContent>();

        foreach (var c in Contents)
        {
            var lectureMaterial = c as LectureMaterialContent;
            if (selectedWeek.Contains(lectureMaterial.week))
            {
                filteredContents.Add(lectureMaterial);
            }
        }

        sortByIDAscending = false;

        InitContentsList();
        await Task.CompletedTask;
    }

    private void SortById() //강의자료 번호 순 정렬
    {
        if (sortByIDAscending)
        {
            filteredContents = filteredContents.OrderByDescending(a => a.content_id).ToList();
        }
        else
        {
            filteredContents = filteredContents.OrderBy(a => a.content_id).ToList();
        }

        sortByIDAscending = !sortByIDAscending;

        InitContentsList();
    }

    /// <summary>
    /// 게시글 작성 화면에 진입
    /// </summary>
    private void Submit()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri + "/edit");
    }
}