@inject NavigationManager NavigationManager
@using ClassHub.Shared

<div class="form-group">
    <label for="post-title" style="font-weight: bold;">제목</label>
    <input type="text" class="form-control" id="post-title" placeholder="제목을 입력하세요" @bind="@title">
</div>
<br />

<WeekPicker weekValue="@selectedWeek" allowMultipleSelection=false />
<br />

<div class="form-group">
    <label for="post-content" style="font-weight: bold;">내용</label>
    <textarea class="form-control" id="post-content" rows="10" placeholder="내용을 입력하세요" @bind="@content"></textarea>
</div>
<DragDropUpload />

<br />
<div class="d-flex justify-content-between mb-2">
    <button class="btn btn-success" @onclick="@(()=>OpenDetail())">이전</button>
    <button type="submit" class="btn btn-primary" @onclick="@(()=>OpenList())">등록</button>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public LectureMaterial target { get; set; }

    public string title;
    public string content;

    public List<int> selectedWeek = new List<int>() { 1, };

    public int RoomId { get; set; }

    private List<LectureMaterial> lec_mat = new List<LectureMaterial>
    {
        new LectureMaterial {content_id = 1, week = 1, title = "강의자료1", contents = "이것은 내용 1" , author = "조민경", publish_date = new DateTime(2023, 03, 03, 09, 02, 0), view_count = 54 },
        new LectureMaterial {content_id = 2, week = 2, title = "강의자료2", contents = "이것은 내용 2" , author = "조민경", publish_date = new DateTime(2023, 03, 05, 09, 02, 0), view_count = 31 },
        new LectureMaterial {content_id = 3, week = 3, title = "강의자료3", contents = "이것은 내용 3" , author = "조민경", publish_date = new DateTime(2023, 03, 10, 09, 02, 0), view_count = 43 },
        new LectureMaterial {content_id = 4, week = 3, title = "강의자료4", contents = "이것은 내용 4" , author = "조민경", publish_date = new DateTime(2023, 03, 12, 09, 02, 0), view_count = 81 },
        new LectureMaterial {content_id = 5, week = 4, title = "강의자료5", contents = "이것은 내용 5" , author = "조민경", publish_date = new DateTime(2023, 03, 17, 09, 02, 0), view_count = 17 },
    };

    protected override void OnParametersSet() // OninitializedAsync()를 대체함
    {
        if (id != 0)
        {
            title = lec_mat[id - 1].title;
            content = lec_mat[id - 1].contents;
        }
    }

    private void OpenDetail()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri.Substring(0, NavigationManager.Uri.LastIndexOf("/")));
    }

    private void OpenList()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri.Substring(0, NavigationManager.Uri.LastIndexOf("/")));
    }
}