@inject NavigationManager NavigationManager
@using ClassHub.Shared

@if (body != null)
{
    <div style="background-color: whitesmoke; padding: 1rem; border-top:2px solid black; border-bottom: 1px solid grey">
        <h1>
            <span class="oi oi-bullhorn" aria-hidden="true" style="margin-right: 10px;"></span>
            @body.title
        </h1>
    </div>
    <div>
        <div style="margin-top: 1rem; overflow: hidden; border-bottom : 1px solid grey; margin-bottom: 3rem;">
            <p style="float: left; margin-right: 50px;">작성자: @body.author</p>
            <div style="float: right;">
                <span class="oi oi-eye" aria-hidden="true"></span>
                <span style="margin-left: 5px;">@body.view_count</span>
                <span style="margin-left: 10px; margin-right: 10px;">|</span>
                <span class="oi oi-clock" aria-hidden="true"></span>
                @if (body.publish_date.Date == DateTime.Today)
                { // 글이 올라온 시간이 오늘일 경우 시간만 표시
                    <span style="margin-left: 5px;">@body.publish_date.ToString("tt hh:mm", new System.Globalization.CultureInfo("en-US"))</span>
                }
                else
                { // 글이 올라온 시간이 오늘이 아닐 경우 날짜만 표시
                    <span style="margin-left: 5px;">@body.publish_date.ToString("yyyy.MM.dd")</span>
                }
            </div>
        </div>
        <div>@body.contents</div>
        <hr />
    </div>

    <div class="d-flex align-items-center justify-content-between mb-2">
        <AuthorizeView Roles="professor">
            <div>
                <button class="btn btn-warning" @onclick="@(() => OpenEditor())">수정</button>
                <button class="btn btn-warning" @onclick="@(() => OpenList())">삭제</button>
            </div>
        </AuthorizeView>
        <button class="btn btn-success" @onclick="@(() => OpenList())">이전</button>
    </div>
}

<style>
</style>

@code {
    [Parameter]
    public LectureMaterial body { get; set; }

    private void OpenEditor()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri + $"/edit");
    }

    private void OpenList()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri.Substring(0, NavigationManager.Uri.LastIndexOf("/")));
    }

    protected override void OnParametersSet() // OninitializedAsync()를 대체함
    {

    }
}