@inject NavigationManager NavigationManager
@using ClassHub.Client.Models

<style>
    .bg-gray {
        background-color: gray;
    }

    .bg-inProgress {
        color: green;
    }

    .bg-end {
        color: red;
    }

    .btn:hover {
        color: #007bff;
    }
</style>

<h3>과제 등록현황 게시판</h3>
<br />

<table class="table table-striped">
    <thead>
        <tr class="bg-gray">
            <th>번호</th>
            <th>제목</th>
            <th>진행</th>
            <th>제출</th>
            <th>마감일</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in Assignments)
        {
            <tr>
                <td>@assignment.Id</td>
                <td>
                    <button class="btn" type="button">@assignment.Title</button>
                </td>
                <td class="@(assignment.Deadline >= DateTime.Now ? "bg-inProgress" : "bg-end" )"> 
                    @(assignment.Deadline >= DateTime.Now ? "진행중" : "종료")
                </td>
                <td>@(assignment.IsSubmitted ? "제출" : "미제출")</td>
                <td>@assignment.Deadline.ToString("yyyy.MM.dd tt hh:mm")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Assignment> Assignments { get; set; }
    protected override void OnInitialized()
    {
        Assignments = Assignments.OrderByDescending(a => a.Id).ToList();
    }
}
