@inject NavigationManager NavigationManager
@using ClassHub.Client.Models

<style>
    .bg-inProgress {
        color: #27ae60;
        font-weight: bold;
    }

    .bg-plan {
        color: #3498db;
    }

    .btn:hover {
        color: #007bff;
    }

    .exam-row:hover {
        background-color: #bdc3c7;
        cursor: pointer;
    }
</style>

<h3>시험</h3>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">번호</th>
            <th class="text-center">제목</th>
            <th class="text-center">진행</th>
            <th class="text-center">제출</th>
            <th class="text-start">일정</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var exam in Exams) {
            int state = (exam.EndDate < DateTime.Now) ? 0 : (DateTime.Now < exam.StartDate) ? 1 : 2; // 0 종료, 1 예정, 2 진행 중
            <tr class="exam-row" @onclick="@(() => AttendExam(exam))">
                <td class="align-middle text-center">@exam.ExamId</td>

                <td class="align-middle text-center">@(exam.ExamId)번 시험</td>

                <td class="align-middle text-center @((state == 0) ? "" : (state == 1) ? "bg-plan" : "bg-inProgress" )">
                    @((state == 0) ? "종료" : (state == 1) ? "예정" : "진행 중")
                </td>
                <td class="align-middle text-center">
                    <span class="oi oi-@(exam.IsAttend ? "check" : "x")" style="color: @(exam.IsAttend ? "#27ae60" : "#e74c3c");"></span>
                </td>
                <td class="align-middle text-start">
                    시작 : @exam.StartDate.ToString("yyyy.MM.dd tt hh:mm", new System.Globalization.CultureInfo("en-US"))<br />
                    종료 : @exam.EndDate.ToString("yyyy.MM.dd tt hh:mm", new System.Globalization.CultureInfo("en-US")) (@(Math.Round((exam.EndDate - exam.StartDate).TotalMinutes))분)
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Exam> Exams { get; set; }

    protected override void OnInitialized() {
        Exams = Exams.OrderByDescending(a => a.ExamId).ToList();
    }

    private void AttendExam(Exam exam) {
        Console.WriteLine($"{exam.ExamId}번 시험을 클릭하였습니다.");
        NavigationManager.NavigateTo(NavigationManager.Uri + $"/{exam.ExamId}");
    }
}
