@inject NavigationManager NavigationManager
@using ClassHub.Client.Models

<style>
    .bg-gray {
        background-color: gray;
    }

    .bg-inProgress {
        color: green;
    }

    .bg-end {
        color: red;
    }

    .btn:hover {
        color: #007bff;
    }
</style>

<h3>시험</h3>
<br />

<table class="table table-striped">
    <thead>
        <tr class="bg-gray">
            <th>번호</th>
            <th>제목</th>
            <th>진행</th>
            <th>제출</th>
            <th>마감일</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var exam in Exams) {
            <tr>
                <td>@exam.ExamId</td>
                <td>
                    <button class="btn" type="button" @onclick="@(() => AttendExam(exam))">@(exam.ExamId)번 시험</button>
                </td>
                <td class="@(exam.EndDate >= DateTime.Now ? "bg-inProgress" : "bg-end" )">
                    @(exam.EndDate < DateTime.Now ? "종료" : (DateTime.Now < exam.StartDate) ? "시작전" : "진행중")
                </td>
                <td>@(exam.IsAttend ? "응시" : "미응시")</td>
                <td>@exam.EndDate.ToString("yyyy.MM.dd tt hh:mm")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Exam> Exams { get; set; }

    protected override void OnInitialized() {
        Exams = Exams.OrderByDescending(a => a.ExamId).ToList();
    }

    private void AttendExam(Exam exam) {
        Console.WriteLine($"{exam.ExamId}번 시험을 클릭하였습니다.");
        NavigationManager.NavigateTo(NavigationManager.Uri + $"/{exam.ExamId}");
    }
}
