@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClassHub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@classRoomUri" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(classRoomUri + "/announcement")">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Announcement
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(classRoomUri + "/lecture")">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Lecture
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(classRoomUri + "/assignment")">
                <span class="oi oi-document" aria-hidden="true"></span> Assignment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(classRoomUri + "/practice")">
                <span class="oi oi-code" aria-hidden="true"></span> Practice
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(classRoomUri + "/exam")">
                <span class="oi oi-book" aria-hidden="true"></span> Exam
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@(classRoomUri + "/fetchdata")">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private string classRoomUri = string.Empty;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync() {
        Console.WriteLine(NavigationManager.Uri);
        string uri = NavigationManager.Uri;
        classRoomUri = uri.Substring(0, uri.IndexOf("classroom") + "classroom".Length);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
