@inject NavigationManager NavigationManager
@using ClassHub.Client.Models

<style>
	h5:hover {
		color: #007bff;
	}
</style>

<div class="row">
	@foreach(var practice in Practices) {
		<div class="card mb-3 border-2">
			<div class="row g-0">
				<div class="col-md-1 text-center">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">@practice.Id</small>
						</p>
					</div>
				</div>
				<div class="col-md-7">
					<div class="card-body">
						<h5 class="card-title" @onclick="@(() => ShowPractice(practice))" style="cursor:pointer;">@practice.Title</h5>
						<!--		<p class="card-text">@announcement.Content</p>  콘텐츠 내용-->
						<p class="card-text">
							<small class="text-muted">@practice.Author</small>
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">시작일: @practice.StartDate.ToString("yyyy-MM-dd tt HH:mm")</small>
						</p>
						<p class="card-text">
							<small class="text-muted">종료일: @practice.EndDate.ToString("yyyy-MM-dd tt HH:mm")</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@code {
    [Parameter]
    public List<Practice> Practices { get; set; }

    protected override void OnInitialized() {
        Practices = Practices.OrderByDescending(a => a.Id).ToList();
    }

    private void ShowPractice(Practice practice) {
        Console.WriteLine($"{practice.Id}번 과제를 클릭하였습니다.");
        NavigationManager.NavigateTo(NavigationManager.Uri + $"/{practice.Id}");
    }
}